*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   
}
body{
    overflow-x: hidden;
    background-color: #f1f1f1;
}
.main{
    height: 650px;
    width: 100%;
    border: 1px solid black;
    background-color: #3B5D50;
    position: relative;
}
.logo{
    margin: 20px 0 0 80px;
}
.logo a{
    color:#FFFFFF;
    font-family: Inter,sans-serif;
}
.navbar{
    width: 70%;
    margin-left: 650px;
    margin-top:-20px;
}
.navbar ul{
    display: flex;
    gap: 60px;
    list-style: none;
}
.navbar li{
    /* border-bottom: 4px solid #F9BF29; */
    font-weight: 600;
    position: relative;
}
.navbar li:hover{
    color: #FFFFFF;
    transition: .3s ease all;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #F9BF29;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.navbar a{
    color: rgb(183, 183, 183);
    font-family: sans-serif;
}
.navbar a i{
    font-size: 22px;
    color: #FFFFFF;
}
.navbar{
    text-align: center;
    animation: slidefromleft  2s ease forwards;
    opacity: 0;
}
@keyframes slidefromleft {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.line{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    margin: 100px 0 0 80px;
}
.line .line1{
    display: flex;
    flex-direction: column;
    width: 550px;
  color: #FFFFFF;
  font-size: 28px;
  font-family: sans-serif;
  margin-top: 2rem;
  animation: slideline  2s ease forwards;
  opacity: 0;
}
@keyframes slideline {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.line .line1 p{
    font-size: 16px;
    margin-top: 40px;
    color: rgb(183, 183, 183);
}

@media screen and (max-width:600px){
    h1{
         font-size: 18px;
    }
    p{
        font-size: 12px;
        width: 70%;
    }
}
.btn .btn1{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color:#F9BF29;
    border: none;
    font-size: 16px;
    margin: 40px 0 0 0px;
}

.btn .btn2{
    height: 50px;
    width: 120px;
    border-radius: 50px;
    background-color:transparent;
    border:1px solid rgb(183, 183, 183);
    font-size: 16px;
    margin: 40px 0 0 0px;
    color: #FFFFFF;
}
.btn .btn2:hover{
    border: 2px solid white;
}
.image img{
    width: 100%;
    height: 600px;
    margin-top: -100px;
}
@media screen  and (max-width:600px){
    .line{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    image{
        margin-left: -100px;
        height: 100px;
        width: 50%;
    }
}



/* SECOND PART */

.chair{
    height: 570px;
    width: 100vw;
}
.boxes{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.box{
    height: 400px;
    width: 300px;
    margin-top: 80px;
}
.box1 h1{
   font-family: sans-serif;
}
.box1 p{
    font-family: sans-serif;
    font-size: 14px;
    margin-top: 50px;
   line-height: 2;
    color: rgb(83, 83, 83);
 }
 .box1 button{
    height: 50px;
    width: 130px;
    background-color: rgb(54, 54, 54);
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 25px;
    margin: 50px 0 0 10px;
 }
 .box2 h6 {
    text-align: center;
    font-size: 20px;
 }
 .box2 p{
    text-align: center;
    font-size: 22px;
    font-weight: 900;
 }
 .box2 i{
    color: black;
    font-size: 30px;
    margin: 50px 0 0 140px;
   
 }
 
 .box3 h6 {
    text-align: center;
    font-size: 20px;
 }
 .box3 p{
    text-align: center;
    font-size: 22px;
    font-weight: 900;
 }
 .box3 i{
    color: black;
    font-size: 30px;
    margin: 50px 0 0 140px;
 }

 .box4 h6 {
    text-align: center;
    font-size: 20px;
 }
 .box4 p{
    text-align: center;
    font-size: 22px;
    font-weight: 900;
 }
 .box4 i{
    color: black;
    font-size: 30px;
    margin: 50px 0 0 140px;
 }


 /* THIRD PART */

 .third-part{
    margin-top: 70px;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;
 }

 .service{
    position: relative;
    margin-top: 30px;
    height: 400px;
    width: 600px;
 }
 .service h1{
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 500;
 }
 .service p{
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(88, 88, 88);
    line-height: 2;
 }

 .service .icon1 i{
    font-size: 30px;
   position: absolute;
   top: 180px;
   left: 0;
 }
 .service .icon1 h6{
    margin-top: 110px;
    font-size: 16px;
    font-weight:300 ;
 }
 .service .icon1 p{
    margin-top: 10px;
    width: 300px;
    line-height: 1;
    font-size: 14px;
    font-weight:300 ;
 }

 .service .icon2 i{
    font-size: 30px;
   position: absolute;
   top: 180px;
   left: 300px;
 }
 .service .icon2 h6{
    margin-top: 110px;
    font-size: 16px;
    font-weight:300 ;
    position: absolute;
    top: 113px;
    left: 300px;
 }
 .service .icon2 p{
    margin-top: 10px;
    width: 300px;
    line-height: 1;
    position: absolute;
   top: 243px;
   left: 300px;
    font-size: 14px;
    font-weight:300 ;
 }

 .service .icon3 i{
    font-size: 30px;
   position: absolute;
   top: 320px;
   left: 0px;
 }
 .service .icon3 h6{
    margin-top: 110px;
    font-size: 16px;
    font-weight:300 ;
    position: absolute;
    top: 250px;
    left: 0px;
 }
 .service .icon3 p{
    margin-top: 10px;
    width: 300px;
    line-height: 1;
    position: absolute;
   top: 380px;
   left: 0px;
    font-size: 14px;
    font-weight:300 ;
 }

 .service .icon4 i{
    font-size: 30px;
   position: absolute;
   top: 320px;
   left: 300px;
 }
 .service .icon4 h6{
    margin-top: 110px;
    font-size: 16px;
    font-weight:300 ;
    position: absolute;
    top: 250px;
    left: 300px;
 }
 .service .icon4 p{
    margin-top: 10px;
    width: 300px;
    line-height: 1;
    position: absolute;
   top: 380px;
   left: 300px;
    font-size: 14px;
    font-weight:300 ;
 }

 .service{
   animation: slider  2s ease forwards;
   opacity: 0;
}
@keyframes slider {
   0%{
       opacity: 0;
       transform: translateX(-100%);
   }
   100%{
       opacity: 1;
       transform: translateX(0);
   }
}
 .show-img img{
    margin-top: 30px;
    height: 560px;
    width: 550px;
    border-radius: 20px;
 }

 /* FORTH PART */

 .forth-part{
    margin-top: 100px;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
 }

 .any-img{
    position: relative;
    margin-top: 30px;
    height: 500px;
    width: 40%;
 }

.any-img .any-img1{
    height: 550px;
    width: 450px;
    border-radius: 25px;
    overflow: hidden;
}

.any-img .any-img2{
    position: absolute;
    top: 0;
    left: 470px;
    height: 250px;
    width: 220px;
    border-radius: 25px;
    overflow: hidden;
}
.any-img .any-img3{
    position: absolute;
    top: 270px;
    left: 320px;
    height: 450px;
    width: 370px;
    border-radius: 25px;
    overflow: hidden;
}


 .help{
    margin-top: 30px;
    height: 500px;
    width: 30%;
 }
 .help p{
    color: rgb(134, 134, 134);
    font-size: 16px;
    line-height: 1.7;
    margin-top: 20px;
 }
 .help ul{
    list-style: none;
    margin-top: 50px;
    position: relative;
 }
 .help .line1 i{
    font-size: 10px;
 }
 .help .line1 li{
     position: absolute;
     left: 20px;
     top: 1px;
     width: 150px;
 }


 .help .line2 i{
    font-size: 10px;
    position: absolute;
    left: 232px;
    top: 5px;
 }
 .help .line2 li{
     position: absolute;
     left: 250px;
     top: 1px;
     width: 150px;
 }
 


 .help .line3 li{
     position: absolute;
     left: 20px;
     top: 70px;
     width: 150px;
 }
 .help .line3 i{
    font-size: 10px;
    position: absolute;
    left: 0px;
    top: 75px;
 }


 .help .line4 i{
    font-size: 10px;
    position: absolute;
    left: 232px;
    top: 78px;
 }
 .help .line4 li{
     position: absolute;
     left: 252px;
     top: 73px;
     width: 150px;
 }

 .help button{
    height: 50px;
    width: 130px;
    border-radius: 25px;
    background-color: black;
    color: #FFFFFF;
    font-size: 17px;
    margin-top: 120px;
 }

 .help{
   animation: slide_left  2s ease forwards;
   opacity: 0;
}
@keyframes slide_left {
   0%{
       opacity: 0;
       transform: translateX(100%);
   }
   100%{
       opacity: 1;
       transform: translateX(0);
   }
}


 /* FIFTH-PART */

 .fifth-part{
    height: 200px;
    width: 100%;
    margin-top: 200px;
   display: flex;
   justify-content: space-evenly;
 }

 .chair-box1{
    height: 200px;
    width: 300px;
    position: relative;
 }
 .only{
   height: 120px;
   width: 110px;
   position: absolute;
   top: 10px;
   left: 25px;
   border-radius: 25px;
   background-color: #ddebe6;
   z-index: -1;
 }
 .chair-box1 img{
    border-radius: 20px;
    height: 150px;
    width: 150px;
 }
 .chair-box1 h3{
   position: absolute;
   margin-left: 150px;
   bottom: 170px;
 }
 .chair-box1 p{
    position: absolute;
    margin-left: 150px;
   bottom: 110px;
   width: 80%;
    color: #3f3f3f;
 }
 .chair-box1 a{
    position: absolute;
    margin-left: 0px;
    bottom: 70px;
    width: 250px;
    color: black;
 }
 .chair-box1 a:hover{
    color: #737373;
 }


 .chair-box2{
    height: 200px;
    width: 300px;
    position: relative;
 }
 .chair-box2 img{
    border-radius: 20px;
    height: 150px;
    width: 150px;
 }
 .chair-box2 h3{
    position: absolute;
    margin-left: 160px;
    bottom: 170px;
    font-size: 17.5px;
  }
  .chair-box2 p{
     position: absolute;
     margin-left: 160px;
    bottom: 110px;
    width: 80%;
     color: #3f3f3f;
  }
  .chair-box2 a{
     position: absolute;
     margin-left: 10px;
     bottom: 70px;
     width: 250px;
     color: black;
  }
  .chair-box2 a:hover{
     color: #737373;
  }


  .chair-box3{
    height: 200px;
    width: 300px;
    position: relative;
 }

 .chair-box3 img{
    border-radius: 20px;
    height: 150px;
    width: 150px;
 } 
 .chair-box3 h3{
    position: absolute;
    margin-left: 140px;
    bottom: 170px;
  }
  .chair-box3 p{
     position: absolute;
     margin-left: 140px;
    bottom: 110px;
    width: 80%;
     color: #3f3f3f;
  }
  .chair-box3 a{
     position: absolute;
     margin-left: -10px;
     bottom: 70px;
     width: 250px;
     color: black;
  }
  .chair-box3 a:hover{
     color: #737373;
  }



  /* IMGAE SLIDER */

  .slider{
   height: 600px;
   width: 100%;
   border: 1px solid black;
   position: relative;
  }

  .slider1{
   height: 500px;
   width: 900px;
   border: 1px solid black;
   margin: 50px auto;
   position: relative;
  }
  .slider1 h1{
   font-size: 38px;
   margin-left: 350px;
   font-weight: 500;
  }
  .slider1 p{
   font-size: 20px;
   font-family: sans-serif;
   margin: 50px 0 0 50px;
   color: #6d6868;
  }
  .slider1 img{
   height: 100px;
   width: 100px;
   margin: 100px 0 0 380px;
   border-radius: 50px;
  }
  .slider1 h6{
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0 0 390px;
  }
  .slider1 h5{
   font-size: 16px;
   font-weight: 300;
   margin: 10px 0 0 330px;
   color: #6d6868;
 }

  .slider #next{
   position: absolute;
   margin-top: 190px;
  }
  .slider #pre{
   position: absolute;
   right: 0;
   top: 190px;
  }
  
  .slider2{
   height: 500px;
   width: 900px;
   border: 1px solid black;
   position: absolute;
   bottom: 49px;
   left: 609px;
   background-color: #deb5b5;
   z-index: -1;
   transform: translateX(-300px);
   transition: 3s ease-in-out;
   display: none;
  }
  .slider2 h1{
   font-size: 38px;
   margin-left: 350px;
   font-weight: 500;
  }
  .slider2 p{
   font-size: 20px;
   font-family: sans-serif;
   margin: 50px 0 0 50px;
   color: #6d6868;
  }
  .slider2 img{
   height: 100px;
   width: 100px;
   margin: 100px 0 0 380px;
   border-radius: 50px;
  }
  .slider2 h6{
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0 0 390px;
  }
  .slider2 h5{
   font-size: 16px;
   font-weight: 300;
   margin: 10px 0 0 330px;
   color: #6d6868;
 }
 
 .blog{
   height: 670px;
   width: 100%;
   background-color: #f1f1f1;
 }
 .blog h1{
   margin: 80px 0 0 120px;
   font-family: sans-serif;
   font-weight: 500;
   font-size: 34px;
 }
 .blog a p{
  margin:-25px 0 0 1200px;
  text-decoration:underline;
  color: rgb(82, 82, 82);
  font-size: 17px;
 }
 .blog a p:hover{
   text-decoration: none;
 }
 .blog_box{
   height: 400px;
   width: 90%;
   display: flex;
   justify-content: space-evenly;
   margin:100px 0 0 80px;
 }

 .one{
   height: 380px;
   width: 400px;
   border-radius: 15px;
   overflow: hidden;
 }
 .one img{
   border-radius: 15px;
 }
 .one img:hover{
   opacity: 0.6;
 }
 .one p{
   margin: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
 }
 .one span{
   font-size: 16px;
 }


 .footer{
   position: relative;
   background-color: #fff;
   height: 800px;
   width: 100%;
   border: 1px solid black;
 }
 .foot-img{
   position: absolute;
   height: 350px;
   width: 400px;
   right: 100px;
   top: -120px;
 }
 .foot-search{
   height: 200px;
   width: 650px;
   margin: 50px 0 0 120px;
 }
 .foot-search p{
    color: #3B5D50;
    font-size: 18px;
    font-family: Inter, sans-serif;
 }
 .foot-search i{
   color:rgb(143, 142, 142);
    font-size: 20px;
 }

 .foot-search input{
   height: 50px;
   width: 250px;
   margin-top: 20px;
   border-radius: 10px;
   border: 1px solid rgb(104, 104, 104);
  
 }
 .foot-search :nth-child(3){
   margin-left: 20px;
 }
 .foot-search a button{
   background-color: #3B5D50;
   height: 50px;
   width: 80px;
   border-radius: 10px;
   border: none;
   margin: 10px 0 0 20px;
   position: absolute;
   left: 650px;
   top: 83px;
 }
 .foot-search a button:hover{
   background-color: #154231;
 }
.foot-search .icons i{
   color: white;
   position: absolute;
   left: 696px;
   top: 108px;
}
 .foot-about{
   display: flex;
   justify-content: space-evenly;
   height: 300px;
   width: 1150px;
   margin-left: 120px;
   border-bottom: 1px solid rgb(187, 187, 187);
 }
 .foot-about .about-tag{
   height: 500px;
   width: 37%;
 }
 .foot-about .about-tag1{
   height: 500px;
   width: 63%;
 }

 .about-tag h1{
   color: #3B5D50;
   font-family: Inter, sans-serif;
   font-weight: 500;
 }
 .about-tag p{
   color: #6a6a6a;
  line-height: 1.5;
   font-size: 14px;
   margin-top: 40px;
   font-family: Inter, sans-serif;
   
 }
 .about-tag i{
   font-size: 20px;
   margin: 10px 0 0 10px;
 }
 .icon{
   display: flex;
 }
 .about-tag .icon-box1{
   height: 40px;
   width: 40px;
   margin-top: 50px;
   border-radius: 20px;
   background-color: #ccd8d4;
 }
 .about-tag .icon-box1:hover{
   background-color: #154231;
   color: #fff;
 }
 .about-tag .icon-box2{
   height: 40px;
   width: 40px;
   margin-top: 50px;
   margin-left: 20px;
   border-radius: 20px;
   background-color: #ccd8d4;
 }
 .about-tag .icon-box2:hover{
   background-color: #154231;
   color: #fff;
 }
 .about-tag .icon-box3{
   height: 40px;
   width: 40px;
   margin-top: 50px;
   margin-left: 20px;
   border-radius: 20px;
   background-color: #ccd8d4;
 }
 .about-tag .icon-box3:hover{
   background-color: #154231;
   color: #fff;
 }
 .about-tag .icon-box4{
   height: 40px;
   width: 40px;
   margin-top: 50px;
   margin-left: 20px;
   border-radius: 20px;
   background-color: #ccd8d4;
 }
 .about-tag .icon-box4:hover{
   background-color: #154231;
   color: #fff;
 }
 .about-tag1{
   display: flex;
   justify-content: space-around;
 }
 .about-tag1 .tag-box{
   height: 400px;
   width: 150px;
   margin-top: 70px;
 }
 .about-tag1 .tag-box a{
   color: black;
   
 }
 .about-tag1 .tag-box li{
   list-style: none;
   font-family: Inter, sans-serif;
   font-size: 14px;
   line-height: 2;
   margin-left:30px ;
 }
 .about-tag1 .tag-box li:hover{
   color: #858585;
 }
